/* main{
    background-color: red;
} */
:root{
    --primary-color: #f97316;
    --primary-darker: #c2410c;
    --primary-darkest: #bc4110;
    --primary-yellow: #ffa200;
    --bg-light: #FFFBF7;
}
.hero-background{
    background: linear-gradient(291deg, rgba(241, 116, 35, 0.75) 0.61%, rgba(217, 217, 217, 0.00) 102.08%);
    cursor: url('../images/cursor.svg') 10 10, auto;
}
.nav-list a{
    cursor: url('../images/hand.svg') 10 10, auto;
}
button{
    cursor: url('../images/hand.svg') 10 10, auto !important;
}

::-webkit-scrollbar {
    width: 20px; 
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 16px; 
}
  
::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--primary-darker);
}
  
::-webkit-scrollbar-track {
    background-color: var(--primary-yellow); 
}
  
::-webkit-scrollbar-track:horizontal {
    background-color: var(--primary-yellow);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-darkest); 
    transition: .8s ease-in;
}
  
::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-darkest); 
}

.what-we-offer{
    background-color: var(--bg-light);
    cursor: url('../images/cursor-green.svg') 10 10, auto;

}
.line{
    width: 50px;
    height: 2px;
    display: inline-block;   
}
.results-oriented{
    color: var(--primary-color);
}
