/* main{
    background-color: red;
} */
:root{
    --primary-color: #f97316;
    --primary-darker: #c2410c;
    --primary-darkest: #bc4110;
    --primary-yellow: #ffa200;
    --bg-light: #fffbf7;
    --bane: #5f1c01;
}
.hand-cursor{
    cursor: url('../images/hand.svg') 10 10, auto !important;
}
.hero-background{
    cursor: url('../images/cursor.svg') 10 10, auto;
}
.inner-hero{
    background: linear-gradient(291deg, rgba(241, 116, 35, 0.75) 0.61%, rgba(217, 217, 217, 0.00) 102.08%) !important;
}
.nav-list a{
    cursor: url('../images/hand.svg') 10 10, auto;
}
button{
    cursor: url('../images/hand.svg') 10 10, auto !important;
}

::-webkit-scrollbar {
    width: 20px; 
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 16px; 
}
  
::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--primary-darker);
}
  
::-webkit-scrollbar-track {
    background-color: var(--primary-yellow); 
}
  
::-webkit-scrollbar-track:horizontal {
    background-color: var(--primary-yellow);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-darkest); 
    transition: .8s ease-in;
}
  
::-webkit-scrollbar-thumb:active {
    background-color: var(--primary-darkest); 
}

.what-we-offer{
    background-color: var(--bg-light);
    cursor: url('../images/cursor-green.svg') 10 10, auto;

}
.line{
    width: 50px;
    height: 2px;
    display: inline-block;   
}
.results-oriented{
    color: var(--primary-color);
}
.point-img{
    transform: rotate(110deg);
    display: inline-block;
}
.see-more-programs{
    cursor: url('../images/hand.svg') 10 10, auto !important;
}
.about-landing{
    cursor: url('../images/cursor-yellow.svg') 10 10, auto;;
}
.quote{
    cursor: url("../images/cursor-yellow.svg") 10 10, auto;
}
.get-started{
    cursor: url('../images/cursor.svg') 10 10, auto;
}
.footer{
    cursor: url('../images/cursor-green.svg') 10 10, auto;
}
.footer-inner{
    background: linear-gradient(291deg, rgba(241, 116, 35, 0.75) 0.61%, rgba(217, 217, 217, 0.00) 102.08%) !important;
}
.footer a:hover{
    cursor: url('../images/hand.svg') 5 5, auto;
}

/* about page */

.offerings{
    background-color: var(--bane);
    /* background-color: var(--primary-yellow); */
    border-radius: 5px;
    position: relative;
}
.offer-training{
    position: relative;
    height: 100vh;
}
.left-offer{
    position: relative;
    transform-origin: 0; 
}


.offer-training1{
    height: 100vh;
    background-image: url('../images/o1.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* .offer-training1::before {
    content: "";
    max-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); 
} */
.offer-training2{
    height: 100%;
    background-image: url('../images/o2.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 2px solid white;
}
.offer-training2::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); /* Adjust the alpha channel as needed */
}
.cool{
    top: 50%;
    left: 40%;
    width: 50%;
}
.offer-training3{
    height: 100vh;
    background-image: url('../images/o3.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.offer-training3::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); /* Adjust the alpha channel as needed */
}
/* end about page */